.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    text-decoration: none;
    color: black;
 }

 .feinman__link:hover {
   opacity: 0.6;
   color: navy;
   transition-property: opacity;
   transition-property: color;
   transition-duration: 1s;
   transition-timing-function: linear;
    }