@import url(./cards/cards.css);

@import url(./cards/__item/cards__item.css);

@import url(./card/__item_description/card__item_description.css);

@import url(./card/__item_image/card__item_image.css);

@import url(./card/__item_title/card__item_title.css);

.technics {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 

 
 

 

 
