@keyframes rotation {
   from {
       transform: rotate(-15deg);
   }
   to {
       transform: rotate(345deg);
   }
}


.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0px;
    z-index: 0;
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    animation: rotation 20s linear infinite;
 
}

.header__main-illustration {  
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    width: 765px;
    height: 608px;
}

.header__tittle {
   width: 730px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 64px;
   font-size: 102px;
   line-height: 96px;
   font-weight: bold;
   position: relative;
   z-index: 1;
}

.header__subtitle { 
   position: absolute;
   z-index: 1;
   bottom: 30px;
   left: 64px;
   width: 388px;
   font-size: 18px;
   line-height: 25px;
   font-weight: normal;
}

.header__link { 
   text-decoration: none;
   color: #2F80ED;
}

.logo {
   width: 183px;
}

.logo_place_header { 
   background-image: url(../images/logo.svg);
   position: absolute;
   top: 30px;
   left: 64px;
   height: 32px;
}

.technics {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.cards {
   width: 920px;
   display: flex;
   flex-direction: row;
   justify-content: start;
   flex-wrap: wrap;
   align-items: baseline;
   margin-left: auto;
   margin-right: auto;

}

.cards__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 240px;
   margin-right: 100px;
}

.cards__item:nth-child(3n) {
   margin-right: 0px;
}

.cards__item_image {
   border-radius: 50%;
   width: 160px;
   height: 160px;
   margin-top: 60px;
   margin-bottom: 43px;
   margin-left: 40px;
   margin-right: 40px;
}

.cards__item_title {
   margin-bottom: 16px;
   font-size: 24px;
   line-height: 1.15;
   font-weight: bold;
}

.cards__item_description {
   font-size: 18px;
   line-height: 23px;
   font-weight: normal;
}

.video {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.video_iframes {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.video_iframe {
   width: 515px;
   height: 316px;
   margin-top: 50px;
   margin-left: 20px;
   position: relative;
   bottom: -50px;
}

.description {
   display: flex;
   justify-content: center;
   min-height: 332px;
   margin-top: 100px;
}

.two-colums { 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 80%;
}

.two-columns__brief {
   font-size: 18px;
   line-height: 1.2;
   color: #2F80ED;
   width: 175px;
   font-weight: normal;
}

.two-columns__main-text {  
   width: 80%; 
   min-width: 784px;
}

.two-columns__paragraph {
   font-size: 24px;
   line-height: 34px;
   margin-bottom: 30px;
}

.two-columns__span-accent {
   font-size: 24px;
   line-height: 34px;
   font-weight: bold;
}

.digits {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 100px;
}

.section-title {
   display: flex;
   justify-content: center;
   font-size: 60px;
   line-height: 69px;
   font-weight: bold;
}

.section-subtitle {
   display: flex;
   justify-content: center;
   font-size: 24px;
   line-height: 34px;
}


.table {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 1100px;
   margin-left: auto;
   margin-right: auto;
}

.table__cell {
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 1;
   padding-top: 0px;
   width: 250px;
   margin-top: 60px;
}

.table__heading {
   font-size: 24px;
   line-height: 34px;
   font-weight: bold;
   margin: 0px;
}

.table__text {
   font-size: 18px;
   line-height: 1.2;
   margin-top: 20px;
   font-weight: normal;
}

.feinman {
   height: 790px;
   width: 100%;
   background-color: #F2F2F2;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.feinman__link {
   position: absolute;
   top: 50%;
   right: 48px;
   font-size: 36px;
   line-height: 51px;
   text-decoration: none;
   color: black;
}

.feinman__tittle {
   width: 648px;
   font-size: 120px;
   line-height: 1.15;
   font-weight: bold;
   text-align: center;
   position: relative;
   z-index: 1;
   margin-bottom: 0px;
   margin-top: 60px;
}

.feinman__subtitle {
   margin-top: 70px;
   font-size: 36px;
   line-height: 51px;
   text-align: center;
   position: relative;
   z-index: 1;
}

.feiman__img { 
   position: absolute;
   z-index: 0;
   bottom: 0px;
   left: 0px;
   width: 867px;
   height: 637px;
}

.oakley {
   display: flex;
   justify-content: center;
   min-height: 332px;
   background-color: #F2F2F2;
   padding-top: 160px;
}

.khan {

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.khan__container {
   width: 80%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

.khan__author {
   font-size: 30px;
   line-height: 42px;
   font-weight: normal;
}

.khan__title {
   font-size: 60px;
   line-height: 1.15;
   font-weight: bold;
}

.khan__quote {
   font-size: 24px;
   line-height: 34px;
   font-weight: normal;
}

.khan__quote-author {
   font-size: 24px;
   line-height: 1.15;
   font-weight: bold;
}

.khan__quote-author-subline {
   font-size: 24px;
   line-height: 1.15;
   font-weight: normal;
}

.khan__book-container {
   display: flex;
   flex-direction: row;

}

.khan__buy-link {
   font-size: 30px;
   line-height: 42px;
   font-weight: normal;
   text-decoration: none;
   color: #2F80ED;

}

.khan__book-pic {
   width: 620px;
   height: 608px;
}






.kaufman {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #1F1F1F;
   position: relative;
   padding-bottom: 90px;
   overflow: hidden; 
}

.section-title_theme_dark {
   color: white;
}

.section-subtitle_theme_dark {
   color: white;
}

.table__cell_theme_dark {
   color: white;
   width: 200px;
   margin-top: 80px;
}

.kaufman__triangle {
   background-image: url(../images/triangle.svg);
   position: absolute;
   z-index: 0;
   top: 0px;
   right: -210px;
   width: 877px;
   height: 877px;
   background-size: contain;
   animation: rotation 20s linear infinite;
}

.resources {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.resources__logo-zone {
   margin-top: 80px;
   margin-bottom: 217px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.resources__logo {
   width: 270px;
   height: 38px;
}


.footer {
   background-color: #1F1F1F;
   width: 100%;
   display: flex;
   justify-content: center;
   min-height: 350px;
}

.footer__columns {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 90%;
   min-height: 250px;
   margin-top: 100px;
}

.logo_place_footer { 
   background-image: url(../images/logo_white.svg);
   height: 35px;
}

.footer__column {
   display: flex;
   padding-inline-start: 0px;
   flex-direction: row;
}

.footer__column_content_copyright {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 711px;
}

.footer__column_content_info {
   display: flex;
   flex-direction: column;
   justify-self: start;
}

.footer__column_content_social {
   display: flex;
   flex-direction: column;
   justify-self: start;
}

.footer__author {
   font-size: 18px;
   line-height: 25px;
   color: white;
}

.footer__column-heading {
   color: white;
   font-size: 18px;
   line-height: 30px;
   font-weight: bold;
   margin-block-start: 0px;
   display: flex;

}

.footer__column-links { 
   font-size: 18px;
   line-height: 30px;
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-self: start;
}

.footer__column-link {
   text-decoration: none;
   color: white;
   font-weight: normal;
}

.footer__social-icon {
   width: 16px;
   height: 16px;
   margin-right: 10px;
}
