.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    margin-left: 20px;
 }

 .khan__buy-link:hover {
    opacity: 0.5;
    color: navy;
    transition-property: opacity;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    }